name: UPB Devops 2025 CICD Apache

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/apache-app .
      
      - name: Publish image to docker hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/apache-app:latest

  deploy:
    needs: build
    runs-on: [self-hosted]
    steps:
      - name: Pull image from docker hub
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/apache-app:latest
      
      - name: Delete old container
        run: docker rm -f apache-container || true
      
      - name: Run docker container
        run: docker run -d -p 80:80 --name apache-container ${{ secrets.DOCKER_USERNAME }}/apache-app